.article-perpage {
    min-height: 500px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
    position: relative;
  }
  
  .thumbnail {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .add-btn {
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #f72185;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
  }
  