.header {
  color: #6a5acd;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dumb-icon{
  font-size: 30px;
  color: hotpink;
  padding-top: 10px;
  padding-right: 10px;
}
