.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: home profile;
  gap: 20px;
  padding: 0px 20px;
}


@media screen and (max-width: 768px){
  .container{
    grid-template-columns: 2fr 1fr;
  }
  .article-container{
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 576px){
  .container{
    grid-template-columns: 1fr;
  }
  .activity-container{
    grid-row: 2;
  }
  .profile-container{
    grid-row: 1;
  }
  .article-container{
    grid-template-columns: 1fr;
  }
}


